%h1 Existing Forms

%table.table
  %tr
    %th Name
    %th Date of Creation
    %th
    %th
    %th

  - @eolforms.each do |eolform|
    %tr
      %td= eolform.name
      %td= eolform.created_at
      %td= link_to 'Show', eolform
      %td= link_to 'Edit', edit_eolform_path(eolform)
      %td= link_to 'Delete', eolform, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Eolform', new_eolform_path
