%p#notice= notice

%p
  %b Name:
  = @eolform.name
%p
  %b Dob:
  = @eolform.dob
%p
  %b Ad street1:
  = @eolform.ad_street1
%p
  %b Ad street2:
  = @eolform.ad_street2
%p
  %b Ad city:
  = @eolform.ad_city
%p
  %b Ad state:
  = @eolform.ad_state
%p
  %b Ad zip:
  = @eolform.ad_zip
%p
  %b Phone number:
  = @eolform.phone_number
%p
  %b S1 agent name:
  = @eolform.s1_agent_name
%p
  %b S1 home phone:
  = @eolform.s1_home_phone
%p
  %b S1 cell phone:
  = @eolform.s1_cell_phone
%p
  %b S1 street1:
  = @eolform.s1_street1
%p
  %b S1 street2:
  = @eolform.s1_street2
%p
  %b S1 city:
  = @eolform.s1_city
%p
  %b S1 state:
  = @eolform.s1_state
%p
  %b S1 zip:
  = @eolform.s1_zip
%p
  %b S1 relationship:
  = @eolform.s1_relationship
%p
  %b S2 agent name:
  = @eolform.s2_agent_name
%p
  %b S2 home phone:
  = @eolform.s2_home_phone
%p
  %b S2 cell phone:
  = @eolform.s2_cell_phone
%p
  %b S2 street1:
  = @eolform.s2_street1
%p
  %b S2 street2:
  = @eolform.s2_street2
%p
  %b S2 city:
  = @eolform.s2_city
%p
  %b S2 state:
  = @eolform.s2_state
%p
  %b S2 zip:
  = @eolform.s2_zip
%p
  %b S2 relationship:
  = @eolform.s2_relationship
%p
  %b S3 agent name:
  = @eolform.s3_agent_name
%p
  %b S3 home phone:
  = @eolform.s3_home_phone
%p
  %b S3 cell phone:
  = @eolform.s3_cell_phone
%p
  %b S3 street1:
  = @eolform.s3_street1
%p
  %b S3 street2:
  = @eolform.s3_street2
%p
  %b S3 city:
  = @eolform.s3_city
%p
  %b S3 state:
  = @eolform.s3_state
%p
  %b S3 zip:
  = @eolform.s3_zip
%p
  %b S3 relationship:
  = @eolform.s3_relationship
%p
  %b Statement:
  = @eolform.statement
%p
  %b Choice1:
  = @eolform.choice1
%p
  %b Choice1 comments:
  = @eolform.choice1_comments
%p
  %b Choice2:
  = @eolform.choice2
%p
  %b Choice2 comments:
  = @eolform.choice2_comments
%p
  %b Choice3:
  = @eolform.choice3
%p
  %b Choice3 comments:
  = @eolform.choice3_comments

= link_to 'Edit', edit_eolform_path(@eolform)
\|
= link_to 'Back', eolforms_path
